.banner-title{
    font-size: 45px;
}
.banner-title span{
    font-size: 50px;
}



.banner-image{
    width: 600px;
}

@media only screen and (max-width: 600px) {
    .banner-image{
        width: 350px;
    }
  }