.background{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ3RNPurS3fYVp7RIXTlrNjuVELW-N9AJWxQ&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
}